@page "/Admin"

<h3>Administrator</h3>

<h5>Select a card below to add/edit/delete entries</h5>

<table class="index-table">
    <tr>
        <td class="index-card">
            <HxCard>
                <HeaderTemplate>Countries</HeaderTemplate>
                <BodyTemplate>
                    <HxCardTitle>Add, edit or delete countries</HxCardTitle>
                    <HxButton Color="ThemeColor.Primary" OnClick="@ViewCountries"><HxIcon Icon="@BootstrapIcon.WrenchAdjustableCircle" /></HxButton>
                </BodyTemplate>
            </HxCard>
        </td>
        <td class="index-card">
            <HxCard>
                <HeaderTemplate>Grapes</HeaderTemplate>
                <BodyTemplate>
                    <HxCardTitle>Add, edit or delete grapes</HxCardTitle>
                    <HxButton Color="ThemeColor.Primary" OnClick="@ViewGrapes"><HxIcon Icon="@BootstrapIcon.WrenchAdjustableCircle" /></HxButton>
                </BodyTemplate>
            </HxCard>
        </td>
        <td class="index-card">
            <HxCard>
                <HeaderTemplate>Grape Colours</HeaderTemplate>
                <BodyTemplate>
                    <HxCardTitle>Add, edit or delete grape colours</HxCardTitle>
                    <HxButton Color="ThemeColor.Primary" OnClick="@ViewGrapeColours"><HxIcon Icon="@BootstrapIcon.WrenchAdjustableCircle" /></HxButton>
                </BodyTemplate>
            </HxCard>
        </td>
    </tr>
    <tr>
        <td class="index-card">
            <HxCard>
                <HeaderTemplate>Stopper Types</HeaderTemplate>
                <BodyTemplate>
                    <HxCardTitle>Add, edit or delete stopper types</HxCardTitle>
                    <HxButton Color="ThemeColor.Primary" OnClick="@ViewStopperTypes"><HxIcon Icon="@BootstrapIcon.WrenchAdjustableCircle" /></HxButton>
                </BodyTemplate>
            </HxCard>
        </td>
    </tr>
</table>

@code {
    private void ViewCountries()
    {
        NavigationManager.NavigateTo("/Countries");
    }

    private void ViewGrapes()
    {
        NavigationManager.NavigateTo("/Grapes");
    }

    private void ViewGrapeColours()
    {
        NavigationManager.NavigateTo("/GrapeColours");
    }

    private void ViewStopperTypes()
    {
        NavigationManager.NavigateTo("/StopperTypes");
    }
}
