@inject WineApp.Domain.IRequestService RequestService

@if (!string.IsNullOrEmpty(errorString))
{
    <HxAlert Color="ThemeColor.Danger">@errorString</HxAlert>
}
@if (isLoading)
{
    <div class="center-loading">
        <LoadingComponent />
    </div>
}
else
{
    <EditForm
        Model="@Wine">
        <HxInputText 
            LabelType="LabelType.Regular" 
            Label="Name" 
            @bind-Value="@editableWine.Description" 
            Enabled="@isEdit" 
            CssClass="input">
        </HxInputText>
        <HxInputNumber 
            LabelType="LabelType.Regular" 
            Label="Vintage"
        @bind-Value="@editableWine.Vintage"
                       Enabled="@isEdit" 
            CssClass="input">
        </HxInputNumber>
        <HxSelect 
            TItem="WineTypeLookup"
            TValue="int?"
            Label="Wine Type"
            Data="@wineTypes"
            @bind-Value="@editableWine.WineTypeId"
            TextSelector="@(p => p.Name)"
            ValueSelector="@(p => p.Id)"
            Nullable="true"
            NullDataText="Loading Wine Types..."
            Enabled="@isEdit"
            CssClass="input" />
        <hr />
        <table>
            <tr>
                <td>
                    <HxSelect 
                        TItem="RegionLookup"
                        TValue="int?"
                        Label="Region"
                        Data="@regions"
                        @bind-Value="@editableWine.RegionId"
                        TextSelector="@(p => p.Name)"
                        ValueSelector="@(p => p.Id)"
                        Nullable="true"
                        NullDataText="Loading Regions..."
                        Enabled="@isEdit"
                        CssClass="input" />
                </td>
                <td>
                    <HxSelect 
                        TItem="CountryLookup"
                        TValue="int"
                        Label="Country"
                        Data="@countries"
                        @bind-Value="@Wine.Region.Country.Id"
                        TextSelector="@(p => p.Name)"
                        ValueSelector="@(p => p.Id)"
                        Nullable="true"
                        NullDataText="Loading Countries..."
                        Enabled="false"
                        CssClass="input" />
                </td>
            </tr>
            <tr>
                <td>
                    <HxSelect 
                        TItem="ProducerLookup"
                        TValue="int?"
                        Label="Producer"
                        Data="@producers"
                        @bind-Value="@editableWine.ProducerId"
                        TextSelector="@(p => p.Name)"
                        ValueSelector="@(p => p.Id)"
                        Nullable="true"
                        NullDataText="Loading Producers..."
                        Enabled="@isEdit"
                        CssClass="input" />
                </td>
                <td>
                    <HxSelect 
                        TItem="QualityControlLookup"
                        TValue="int?"
                        Label="Quality Control"
                        Data="@qualityControllers"
                        @bind-Value="@editableWine.QualityControlId"
                        TextSelector="@(p => p.Name)"
                        ValueSelector="@(p => p.Id)"
                        Nullable="true"
                        NullDataText="Loading Quality Controllers..."
                        Enabled="@isEdit"
                        CssClass="input" />
                </td>
            </tr>
            <tr>
                <td>
                    <HxSelect 
                        TItem="VineyardEstateLookup"
                        TValue="int?"
                        Label="Vineyard Estate"
                        Data="@vineyardEstates"
                        @bind-Value="@editableWine.VineyardEstateId"
                        TextSelector="@(p => p.Name)"
                        ValueSelector="@(p => p.Id)"
                        Nullable="true"
                        NullDataText="Loading Vineyard Estates..."
                              Enabled="@isEdit"
                        CssClass="input" />
                </td>
                <td>
                    <HxSelect 
                        TItem="RetailerLookup"
                        TValue="int?"
                        Label="Exclusive Retailer"
                        Data="@retailers"
                        @bind-Value="@editableWine.ExclusiveRetailerId"
                        TextSelector="@(p => p.Name)"
                        ValueSelector="@(p => p.Id)"
                        Nullable="true"
                        NullText=""
                        NullDataText="Loading Retailers..."
                        Enabled="@isEdit"
                        CssClass="input" />
                </td>
            </tr>
            <tr>
                <td>
                    <HxInputNumber LabelType="LabelType.Regular" Label="ABV" @bind-Value="@editableWine.Abv" Enabled="@isEdit" CssClass="input">
                        <InputGroupStartTemplate>
                            <HxIcon CssClass="input-group-text" Icon="BootstrapIcon.Percent" />
                        </InputGroupStartTemplate>
                    </HxInputNumber>
                </td>
                <td>
                    <HxInputNumber LabelType="LabelType.Regular" Label="Inventory Level" @bind-Value="@editableWine.InventoryLevel" Enabled="@isEdit" CssClass="input">
                        <InputGroupStartTemplate>
                            <HxIcon CssClass="input-group-text" Icon="BootstrapIcon.Plus" />
                        </InputGroupStartTemplate>
                    </HxInputNumber>
                </td>
            </tr>
        </table>
        <div class="modal-footer">
            <table>
                <tr>
                    <td>
                        @if (!isEdit)
                        {
                            <HxButton Text="Edit" Color="ThemeColor.Secondary" CssClass="modal-button" OnClick="Edit" />
                        }
                        else
                        {
                            <HxSubmit Text="Save" Color="ThemeColor.Primary" CssClass="modal-button" OnClick="Save"/>
                        }
                    </td>
                    <td>
                        @if (isEdit)
                        {
                            <HxButton Text="Cancel" Color="ThemeColor.Danger" OnClick="CancelEdit" />
                        }
                        else
                        {
                            <HxButton Text="Close" Color="ThemeColor.Danger" OnClick="Close" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </EditForm>
}
@code {
    [Parameter]
    public DataContract.Wine Wine { get; set; }

    [Parameter]
    public EventCallback CloseModal { get; set; }

    [Parameter]
    public EventCallback<Wine> AfterSave {get; set; }

    string endpoint = "Wine";
    bool isLoading = true;
    bool isEdit = false;
    string errorString = string.Empty;
    int? exclusiveRetailerId = null;
    IEnumerable<RegionLookup>? regions;
    IEnumerable<CountryLookup>? countries;
    IEnumerable<RetailerLookup>? retailers;
    IEnumerable<QualityControlLookup>? qualityControllers;
    IEnumerable<VineyardEstateLookup>? vineyardEstates;
    IEnumerable<WineTypeLookup>? wineTypes;
    IEnumerable<ProducerLookup>? producers;
    WineViewModel editableWine;

    protected override async Task OnInitializedAsync()
    {
        editableWine = WineMapper.Map(Wine);

        await GetWineTypes();
        await GetRegions();
        await GetProducers();
        await GetQualityControllers();
        await GetVineyardEstates();
        await GetRetailers();
        await GetCountries();

        isLoading = false;
    }

    private async Task Save()
    {
        var wine = WineMapper.MapUpdate(editableWine);
        var result = await RequestService.Put<WineCreate>(wine, endpoint);
        if (!result.IsSuccess)
        {
            errorString = result.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        var updatedWine = await RequestService.Get<Wine>(Wine.Id, endpoint);
        if (!updatedWine.IsSuccess)
        {
            errorString = $"The updated was saved, but could not be reloaded: {updatedWine.Error}";
            await InvokeAsync(StateHasChanged);
            return;
        }

        isEdit = false;
        Wine = updatedWine.Data;
        editableWine = WineMapper.Map(Wine);
        await InvokeAsync(StateHasChanged);

        await AfterSave.InvokeAsync(Wine);
    }

    private async Task Edit()
    {
        isEdit = true;
        await InvokeAsync(StateHasChanged);
    }

    private async Task CancelEdit()
    {
        isEdit = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task Close()
    {
        isEdit = false;
        await InvokeAsync(StateHasChanged);

        await CloseModal.InvokeAsync();
    }

    private async Task GetWineTypes()
    {
        var wineTypeResult = await RequestService.GetLookup<DataContract.WineTypeLookup>("WineType");
        if (!wineTypeResult.IsSuccess)
        {
            errorString = wineTypeResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        wineTypes = wineTypeResult.Data;
    }

    private async Task GetRegions()
    {
        var regionResult = await RequestService.GetLookup<DataContract.RegionLookup>("Region");
        if (!regionResult.IsSuccess)
        {
            errorString = regionResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        regions = regionResult.Data;
    }

    private async Task GetProducers()
    {
        var producerResult = await RequestService.GetLookup<DataContract.ProducerLookup>("Producer");
        if (!producerResult.IsSuccess)
        {
            errorString = producerResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        producers = producerResult.Data;
    }

    private async Task GetQualityControllers()
    {
        var qualityControllerResult = await RequestService.GetLookup<DataContract.QualityControlLookup>("QualityControl");
        if (!qualityControllerResult.IsSuccess)
        {
            errorString = qualityControllerResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        qualityControllers = qualityControllerResult.Data;
    }

    private async Task GetVineyardEstates()
    {
        var vineyardEstateResult = await RequestService.GetLookup<DataContract.VineyardEstateLookup>("VineyardEstate");
        if (!vineyardEstateResult.IsSuccess)
        {
            errorString = vineyardEstateResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        vineyardEstates = vineyardEstateResult.Data;
    }

    private async Task GetRetailers()
    {
        var retailerResult = await RequestService.GetLookup<DataContract.RetailerLookup>("Retailer");
        if (!retailerResult.IsSuccess)
        {
            errorString = retailerResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        retailers = retailerResult.Data;
    }

    private async Task GetCountries()
    {
        var countryResult = await RequestService.GetLookup<DataContract.CountryLookup>("Country");
        if (!countryResult.IsSuccess)
        {
            errorString = countryResult.Error;
            await InvokeAsync(StateHasChanged);
            return;
        }

        countries = countryResult.Data;
    }
}
